@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Caddy Shack</h1>
    <p>Track information about your golf bags, and take stock of your clubs</p>
</div>
