@model GolfBag

<h1>Edit Your Golf Bag</h1>

<form method="post" action="/golfbags/@Model.Id">

    <label for="Player">Player: </label>
    <input type="text" name="Player" id="Player" value="@Model.Player"/>

    <label for="Capacity">Capacity: </label>
    <input type="text" name="Capacity" id="Capacity" value="@Model.Capacity"/>
    <br />
    <button class="create" type="submit">Save Changes</button>

</form>
<form action="/golfbags/@Model.Id/clubs/new">
    <button class="create" type="submit">Add Club</button>
</form>