<h1>Create a New Golf Bag</h1>

<form method="post" action="/golfbags">

    <label for="Player">Player </label>
    <input type="text" name="Player" id="Player"/>

    <label for="Capacity">Capacity </label>
    <input type="text" name="Capacity" id="Capacity" />
    <br />
    <button class="create" type="submit">Add Bag</button>

</form>
